@mixin theme-color-mixin {

  &--primary {
    background-color: $--color-primary;
    color: $--color-white;
    &:hover {
      background-color: $--color-primary-600;
    }
    &:active {
      background-color: $--color-primary-700;
    }
  }

  &--light {
    background-color: $--color-gray-100;
    color: $--color-gray-800;
    &:hover {
      background-color: $--color-gray-200;
    }
    &:active {
      background-color: $--color-gray-300;
    }
  }

  &--success {
    background-color: $--color-success;
    color: $--color-white;
    &:hover {
      background-color: $--color-success-600;
    }
    &:active {
      background-color: $--color-success-700;
    }
  }

  &--danger {
    background-color: $--color-danger;
    color: $--color-white;
    &:hover {
      background-color: $--color-danger-600;
    }
    &:active {
      background-color: $--color-danger-700;
    }
  }

  &--warning {
    background-color: $--color-warning;
    color: $--color-gray-800;
    &:hover {
      background-color: $--color-warning-600;
    }
    &:active {
      background-color: $--color-warning-700;
    }
  }

  &--info {
    background-color: $--color-info;
    color: $--color-white;
    &:hover {
      background-color: $--color-info-600;
    }
    &:active {
      background-color: $--color-info-700;
    }
  }

  &--gray {
    background-color: $--color-gray;
    color: $--color-white;
    &:hover {
      background-color: $--color-gray-600;
    }
    &:active {
      background-color: $--color-gray-700;
    }
  }


  &--white {
    background-color: $--color-white;
    color: $--color-gray-800;
    &:hover {
      background-color: $--color-gray-100;
    }
    &:active {
      background-color: $--color-gray-200;
    }
  }

}
