.my-avatar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 2rem;
  height: 2rem;
  border-radius: 3px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &-error {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: var(--color-gray-100);
    color: var(--color-danger);
  }
  &--large {
    width: 42px;
    height: 42px;
    border-radius: 4px;
  }
  &--medium {
    width: 32px;
    height: 32px;
    border-radius: 3px;
  }
  &--small {
    width: 24px;
    height: 24px;
    border-radius: 2px;
  }
  &--mini {
    width: 1rem;
    height: 1rem;
    border-radius: 2px;
  }
}
