.my-button {
  display: inline-flex;
  align-items: center;
  transition-duration: 300ms;
  padding: 0 10px;
  line-height: 32px;
  border-radius: 3px;
  box-shadow: none !important;
  outline: none !important;
  font-weight: 500;

  background-color: $--color-gray-100;
  color: $--color-gray-800;
  &:hover {
    background-color: $--color-gray-200;
  }
  &:active {
    background-color: $--color-gray-300;
  }

  &--large {
    padding: 0 18px;
    line-height: 48px;
    border-radius: 4px;
  }

  &--medium {
    padding: 0 10px;
    line-height: 32px;
    border-radius: 3px;
  }

  &--small {
    padding: 0 8px;
    line-height: 24px;
    font-size: 0.9rem;
    border-radius: 3px;
  }

  &--mini {
    padding: 0 8px;
    line-height: 20px;
    font-size: 0.8rem;
    border-radius: 2px;
  }

  &--primary {
    background-color: $--color-primary;
    color: $--color-white;
    &:hover {
      background-color: $--color-primary-600;
    }
    &:active {
      background-color: $--color-primary-700;
    }
  }

  &--light {
    background-color: $--color-gray-100;
    color: $--color-gray-800;
    &:hover {
      background-color: $--color-gray-200;
    }
    &:active {
      background-color: $--color-gray-300;
    }
  }

  &--success {
    background-color: $--color-success;
    color: $--color-white;
    &:hover {
      background-color: $--color-success-600;
    }
    &:active {
      background-color: $--color-success-700;
    }
  }

  &--danger {
    background-color: $--color-danger;
    color: $--color-white;
    &:hover {
      background-color: $--color-danger-600;
    }
    &:active {
      background-color: $--color-danger-700;
    }
  }

  &--warning {
    background-color: $--color-warning;
    color: $--color-gray-800;
    &:hover {
      background-color: $--color-warning-600;
    }
    &:active {
      background-color: $--color-warning-700;
    }
  }

  &--info {
    background-color: $--color-info;
    color: $--color-white;
    &:hover {
      background-color: $--color-info-600;
    }
    &:active {
      background-color: $--color-info-700;
    }
  }

  &--gray {
    background-color: $--color-gray;
    color: $--color-white;
    &:hover {
      background-color: $--color-gray-600;
    }
    &:active {
      background-color: $--color-gray-700;
    }
  }

}
