.my-button {
  display: inline;
  transition-duration: 300ms;
  padding: 0 10px;
  line-height: 32px;
  border-radius: 3px;
  box-shadow: none !important;
  outline: none !important;

  background-color: $--color-gray-100;
  color: $--color-gray-800;
  &:hover {
    background-color: $--color-gray-200;
  }
  &:active {
    background-color: $--color-gray-300;
  }

  &.my-button--large {
    padding: 0 18px;
    line-height: 48px;
    border-radius: 4px;
  }

  &.my-button--medium {
    padding: 0 10px;
    line-height: 32px;
    border-radius: 3px;
  }

  &.my-button--small {
    padding: 0 8px;
    line-height: 24px;
    font-size: 0.9rem;
    border-radius: 3px;
  }

  &.my-button--mini {
    padding: 0 8px;
    line-height: 20px;
    font-size: 0.8rem;
    border-radius: 2px;
  }

  &.my-button--primary {
    background-color: $--color-primary;
    color: $--color-white;
    &:hover {
      background-color: $--color-primary-600;
    }
    &:active {
      background-color: $--color-primary-700;
    }
  }

  &.my-button--light {
    background-color: $--color-gray-100;
    color: $--color-gray-800;
    &:hover {
      background-color: $--color-gray-200;
    }
    &:active {
      background-color: $--color-gray-300;
    }
  }


}
